body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: monospace;
}

.header {
    display: flex;
    color: #f9faf8;
    justify-content: space-around;
    }

.logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 16px;
}

.first {
    display: flex;
    color: #f9faf8;
}

.first-words {
    display: flex;
    flex-wrap: wrap;  
    align-content: space-around;

}

.first-bold {
    font-size: 48px;
    font-weight: 900;
}

.first-image {
    display: flex;
    flex: 1;
    margin-left: 40%;
}